.App {
  text-align: center;
}



/* ROOT */

:root {
  --primary-color: #ff9100;
  --line-color:#ff8223;
  --highlight-color: #ff7011;
  --background-color: #f8f4f1;
  --cardline: 1px solid #cac9c9;
  --delete-color: #ff2626;
  --lighter-color: #fee9cd;

  --container-width: 1200px;
  --navbar-width: 1100px;
  /* JY : add color value*/
  --feed-background-color: rgb(255, 255, 255);
  --login-button-color : #c0bdbd;
  /* JY: valid message color */
  --valid-color: #5493f1;
  --waring-color: #ff2626;
  --font-size-small: 0.9rem;
  /* JY : Footer 배경 색, 변경 예정 */
  --footer-background-color: #66a1fa;
}
/* ROOT END */


@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* GOOGLE MATERIAL ICONS */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    /* url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype'); */
}

* {
  font-family: 'GowunDodum-Regular';
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  padding: 3px;
  cursor: pointer;
  color: grey;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons:hover {
  color: var(--primary-color);
}
/* GOOGLE MATERIAL ICONS END */

/* GLOBAL ELEMENT */

.primary-color{
  color: var(--primary-color);
}

.boldtext{
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.container {
  max-width: var(--container-width);
  height: 100%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-around;
}

.background {
  background-color: var(--background-color);
  min-height: 100vh;
  overflow: hidden;
  width:100%;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 89%;
  border: none;
  outline: none;
  height: 33px;
  margin: 10px auto;
  background-color: white;
  font-size: 1rem;
  cursor: auto;
  margin-bottom: 1rem;
  padding: 0.3rem 1rem;
}


input::placeholder {
  font-size: 0.9rem;
  text-align: center;
  color: var(--primary-color);
}
input[type="radio"] {
  margin: 15px auto;
}

textarea{
  display: block;
  width: 90%;
  outline: none;
  border: none;
  margin: 15px auto;
  height: 10vh;
  font-size: 1rem;
  padding: 1rem;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.btn {
  cursor: pointer;
  outline:none;
  border: none;
  background-color: transparent;
  border: 2px solid var(--line-color);
  border-radius: 20px;
}

.addbtn {
  right: 80px !important;
  text-align: center;
  align-items: center;
}

.md-btn {
  width: 60px;
  height: 30px;
  padding: 5px 5px 0px 5px;

}

.lg-btn {
  width: 100%;
  height: 30px;
  padding: 8px 5px 2px 5px;
  margin-bottom: 15px;
}
.btn:hover{
  border: 2px solid var(--primary-color);
  transform: scale(0.99);
}


.mgright1 {
  margin-right: 1rem;
}

.mgleft1 {
  margin-left: 1rem;
}

.mg40 {
  margin-top: 40px;
  margin-bottom:40px;
}
/* GLOBAL ELEMENT END */



/* NAVBAR */

.navbar {
  height: 70px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  position: sticky;
  display: flex;
  align-items: center;
  flex-direction:column;
  backdrop-filter: blur(20px);
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 15px;
  justify-content: center;
}

.head {
  padding-left: 0.5rem;
  cursor: pointer;
  font-size:1.9rem;
  font-family: 'GowunBatang-Regular';
}

.linkwrap {
  display: flex;
  margin-right: 0.5rem;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:space-between;
  
  max-width: var(--navbar-width);
  max-height: 50px;
  width:100%;
  margin: 0
}

.link {
  margin-right: 1rem;
  align-items: center;
  cursor: pointer;
}

.head:hover{
  color: var(--primary-color)
}
.link:hover {
  color: var(--primary-color)
}

.card_txt{
  padding: 20px;
  align-self: center;
}

.card_img_wrapper{
 height: 270px;
 margin: 0px;
 width: 100%;
 object-fit: cover;
 overflow: hidden;
}

.card_img_wrapper2{
  max-height: 400px;
  margin: 10px;
  width: 98%;
  object-fit: cover;
  overflow: hidden;
  margin: 10px auto;
 }

.cardimg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 1rem;
}
/* NAVBAR END */

/* CAROUSELS */

.carousel-container {
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
}
.swiper {
  width: 100%;
  height: 100%;
}

.heading1 {
  margin-top: 40px;
  height: 40px;
}

.container3 {
  margin-bottom: 60px;
}

.carouselbox {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  justify-content: space-around;
  gap:0px;
  background: transparent;
  flex-wrap: wrap;
}

.card-wrap {
  width: 370px;
  height: 300px;
  position: relative;
}

.card-wrap>img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-wrap:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  backdrop-filter: blur(2px);
}

.tag {
  color: white;
  font-size: 20px;
  line-height: 33px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading2{
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgwrapper {
  background-color: grey;
  height: 50%;
  width: 30%;
}


/* CAROUSELS END */

/* LOGIN , JOIN */

.containersm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  margin: 50px auto;
  align-items: center;
}

.form_wrapper {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
}

.file {
  display: none !important;
}

.message_Logindiv{
  position:relative;
  display: flex;
  height: 15px;
  width: 100%;
  justify-content: center;
}
/* LOGIN , JOIN END */


/* UPLOAD */

.form_wrapper2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}

.showimg {
  display: block;
  width: 98%;
  max-height: 200px;
  object-fit: cover;
  margin:0 auto 20px auto; 
}

.previewtxt{
  position: relative;
  max-width: 100%;
}

.imgtxt {
  position: absolute;
  top: 50%;
  left: 43%;
  color: var(--line-color);
  font-size: 1rem;
  font-style: italic;
}

.topmg20 {
  margin-top:20px;
}

.topmg50 {
  margin-top:50px;
}

.topmg100 {
  margin-top:100px;
}

.leftmg5 {
  margin-left:5px;
}

.color-primary{
  color:var(--primary-color);
}
/* UPLOAD END */


/* MAIN FEED*/

.feed-wrap{
 
  width: 350px;
  height: 50vh;
  min-height: 450px;
  border : 2px solid rgba(7, 5, 5, 0.14);
  border-radius: 10px;
  background-color: var(--feed-background-color);
  margin-top: 20px;
  margin-right: 17px;
  padding-bottom: 15px;
}

.card_head_wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 50px;
  justify-content:space-between;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top : 5px;
  margin-bottom: 7px;
}

.inflex {
  display: flex;
  align-items: center;
}
/* MAIN FEED END*/

/* FEED HEADER */

.headflex{
  display: flex;
  align-items: center;
}


.card_edit{
  font-size: 1.5rem;
  margin-right: -5px;
}

.card_delete{
  font-size: 1.5rem;
  margin-left: 10px;
}

.card_place{
  display: flex;
  margin-left:70px;
}

.card_address{
  font-size: 0.9rem;
}

.card_body_header{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:space-between;
  overflow: hidden;
  padding-left: 5rem;
  padding-right: 5rem;
}

.rating {
  margin-left: 20px;
  text-align: left !important;
}

.card_body_wrap{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.card_body_header_stars > .stars{
  font-size: 1.4rem;
}
.card_body_heart{
  font-size: 1.7rem;
}

.card_body_heart_filled{
  font-size: 1.7rem;
  color: var(--primary-color);
}

.card_body_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.flexleft,
.flexright  {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* FEED HEADER END */

/* LIKE */

.isLike{
  font-size: var(--font-size-small);
  font-weight: bold;
  margin-right: 7px;
}

.card_body_place{
  margin-top: 5px;
  margin-right: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

.card_body_header_class{
  font-size: 0.8rem;
  padding-top: 0.5rem;
}

.card_body_address{
  margin-bottom: 5px;
}

.card_body_content{
  display: flex;
}

.relative {
  position: relative;
}
/* LIKE END */




/* JY : Join Id form create */
.id_form{
  display: flex;
  align-items: center;
}

/* JY: Valid ID and Nickname message */
.message_div{
  position:relative;
  display: flex;
  height: 15px;
  width: 75%;
  justify-content: center;
}

.print_message{
  position: absolute;
  display: inline-block;
  font-size: 14px;
  height: 10px;
  font-style: italic;
  top:-10px;
}

.message_Nickdiv{
  position:relative;
  display: flex;
  height: 15px;
  width: 100%;
  justify-content: center;
}

.print_Nickmessage{
  position: absolute;
  display: inline-block;
  font-size: 13px;
  height: 10px;
  font-style: italic;
  top:-10px;
}

.message_Passworddiv{
  position:relative;
  display: flex;
  height: 27px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.id_error{
  color: var(--waring-color);
  font-size: var(--font-size-small);
  margin-bottom: 15px;
  font-style: italic;
}

.password_error{
  color: var(--waring-color);
  font-size: var(--font-size-small);
  margin-bottom: 15px;
  font-style: italic;
}

.id_form > input {
  text-align: right;
}

.id_button{
  cursor: pointer;
  outline:none;
  border: none;
  background-color: transparent;
  border: 2px solid var(--line-color);
  width: 115px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  font-weight: 600;
  font-style: italic;
  margin-left: 15px;
}

.id_button:hover{
  border: 2px solid var(--primary-color);
  transform: scale(0.99);
}

/* JY : Nickname check button */
.nick_form{
  display: flex;
  align-items: center;
}
/* JY : Join Id form end */

/* JY : User icon input file coustomize */
.filebox{
  display: flex;
  margin: 20px 0px;
  justify-content: center;
  align-items: center;
}

.upload_icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
}

.filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 78%;
  color: #999999;
}

.filebox label {
  display: inline-block;
  padding: 10px 20px;
  
  vertical-align: middle;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  height: 20px;
  margin-left: 10px;
  border: 2px solid var(--line-color);

  font-weight: 600;
  font-style: italic;
}

.filebox label:hover{
  border: 2px solid var(--primary-color);
  transform: scale(0.99);
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
/* JY: Input file type customize end */



/*  FOOTER */

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  padding: 30px 0px;
}
/*  FOOTER END */